# Load packages

In [37]:
import pandas as pd
import re # regexes
from pathlib import Path # better way to work with filepaths

# Load in Data

In [29]:
# List all .txt files in data directory
# One file for each year of baby names in the US since late 1800s until 2018
baby_name_folder = Path.cwd() / "data" / "names"
baby_name_files = [x for x in baby_name_folder.glob('*txt')]
# Have a look at one file
baby_name_files[0]

WindowsPath('C:/Users/user457/Documents/udacity-data-scientist-nanodegree-project-1-write-a-data-science-blog-post/data/names/yob1880.txt')

In [31]:
# Load data into pandas dataframe
baby_names_list = (pd.read_csv(f) for f in baby_name_files)
baby_names = pd.concat(baby_names_list)
baby_names.head()

,Mary,F,7065,6919,8148,8012,9217,9128,9889,9888,...,22913,Sophia,21842,22313,21223,20936,20455,19496,19800,18688
0,Anna,F,2604.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Emma,F,2003.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Elizabeth,F,1939.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Minnie,F,1746.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Margaret,F,1578.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [46]:
def parse_raw_data(f):
    df = pd.read_csv(f, header = 0, names=['name','sex','babies'])
    # Add year from the filename
    # Data itself doesn't have the year, but the filename always has the pattern of yob{4-digit-Year}.txt
    df["year"] = re.search(r'\d\d\d\d', str(f), re.IGNORECASE).group(0)
    return(df)

# Map function to each file
baby_names_list = map(parse_raw_data, baby_name_files)
baby_names = pd.concat(baby_names_list)
baby_names.head()

        name sex  babies  year
0       Anna   F    2604  1880
1       Emma   F    2003  1880
2  Elizabeth   F    1939  1880
3     Minnie   F    1746  1880
4   Margaret   F    1578  1880

In [47]:
# Exploratory data analysis 
* See Roger Pengs book
* How many unique names
* What letter is the most popular in the US in 2018?

SyntaxError: invalid syntax (<ipython-input-47-5479de73decd>, line 2)

In [ ]:
# Gather

In [ ]:
# Assess

In [ ]:
# Clean

In [ ]:
# Analyze

In [ ]:
# Model

In [ ]:
# Visualize